form {
	width: 15em;
	height: 20em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

input {
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
}

textarea {
	outline: none;
	resize: none;
	border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
	font-size: 12px;
	color: rgb(139, 138, 138);
}
