.button {
	border: none;
	outline: none;
	padding: 5px 20px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	box-shadow: 0px 0px 10px 0px gray;
}

.userInfo {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	align-items: center;
}

.user {
	color: black;
	border-radius: 10px;
	padding: 5px 20px;
}

.logout {
	background-color: tomato;
}

.login {
	background-color: teal;
}

.register {
	background-color: slateblue;
}

.buttons {
	display: flex;
	justify-content: space-around;
	gap: 10px;
	position: absolute;
	top: 10px;
	right: 10px;
}
